.container {
    display: flex;
    flex-direction: row;
  }
  
  .AfterSideBar {
    flex-grow: 1;
    padding: 20px;
  }
  
  .Main_Add_Doctor_div {
    max-width: 800px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .avatarimg {
    display: block;
    margin: 0 auto 20px;
    width: 100px;
    height: 100px;
  }
  
  .add-patient-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-group {
    width: 48%;
    margin-bottom: 20px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formsubmitbutton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formsubmitbutton:hover {
    background-color: #0056b3;
  }
  